body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width:400px;
    height: 250px;
    background-color: rgb(209, 243, 243);
    margin-top: 200px;
    padding: 20px;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 5px;
}