.test-main{
    display: flex;
    /* justify-content: space-between; */
    
  }
  
  
  
  .test-main .test-data{
    display: flex;
    flex-direction: column;
    /* height: 50em; */
  }
  
  .test > .test-main > div{
    flex: 1 1 50%;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 2em;
  }
  
  .test > .test-main > .test-flowchart{
    background-color: antiquewhite;
    width: 70%;
    margin-right: 10px;
    
  }
  
  .test-flowchart span{
    display: block;
    background-color: rgb(34, 139, 238)  ;
  }
  
  .options{
    color: grey;
    padding: 0.2em;
  }
  
  .options i{
    margin: 9px;
  }